@import "tailwindcss";

@theme {
  --font-space: var(--font-space-grotesk), sans-serif;
  --font-inter: var(--font-inter), sans-serif;
  
  --color-gym-lime: #c8ff00;
  --color-gym-dark: #0a0a0a;
  --color-gym-gray-bg: #eef1f6;
  --color-gym-gray: #6b7280;
  --color-gym-footer: #0f1117;
}

body {
  background-color: var(--color-gym-gray-bg);
  color: var(--color-gym-dark);
  font-family: var(--font-inter), sans-serif;
}
